.carousel {
    --transition-time: 0.2s;
    position: relative;
    width: 100%;
}

.carousel-media-section {
    overflow: hidden;
    position: relative;
}

.carousel-items {
    height: 0;
    /* This class controls the aspect ratio of the media shown */
    /* 16:9 => 56.25% */
    padding-top: 56.25%;
    /* Golden ratio */
    /* padding-top: 61.8%; */
}

.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item.fade-in {
    opacity: 1;
    transition: opacity var(--transition-time) ease;
}

.carousel-item.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: opacity var(--transition-time) ease, visibility 0s var(--transition-time);
}

.carousel-item-youtube-thumbnail {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-item-youtube-thumbnail:hover>.carousel-item-youtube-icon>g>path:nth-of-type(2) {
    opacity: 0;
}

.carousel-item-youtube-icon>g>path:nth-of-type(2) {
    transition: opacity var(--transition-time) ease;
}

.carousel-item-youtube-video {
    width: 100%;
    height: 100%;
}

.carousel-item-youtube-icon {
    height: 15%;
    position: absolute;
    top: calc((100% - 15%) / 2);
    width: 100%;
}

.carousel-media-section>button {
    --height: 20%;
    height: var(--height);
    width: 5%;
    position: absolute;
    padding: 1%;
    top: calc(50% - var(--height) / 2);
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    opacity: 0;
    transition: opacity var(--transition-time) ease;
    margin: 0;
}

.carousel-media-section:hover>button {
    opacity: 1;
}

.carousel-media-section>button>svg {
    height: 100%;
    width: 100%;
}

.carousel-previous {
    left: 0;
}

.carousel-next {
    right: 0;
}

.carousel-media-description {
    font-size: 0.8em;
    line-height: 1.1em;
    text-align: center;
    padding: 5px;
}

.carousel-nav {
    text-align: center;
    padding-bottom: 0.5em;
}

.carousel-nav>button {
    background-color: var(--c-f-2);
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 2px;
    padding: 0;
    cursor: pointer;
    transition: background-color var(--transition-time) ease;
}

.carousel-nav>button:hover {
    background-color: var(--c-bg-3);
}

.carousel-nav>button.active {
    background-color: var(--c-bg-3);
}

.hide {
    visibility: hidden;
    display: none;
}